
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  css */
html{
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}
*{
  padding: 0;
  margin: 0;
  font-family: ProximaNova, sans-serif, Helvetica Neue;
}
header{
  padding: 30px 0;
  height: 15px;
  display: table;
  width: 100%;
  margin: 0 auto;
 /* table-layout: fixed; */
  min-width: 1200px;
  max-width: 1200px;
 /* box-shadow: 0px 25px #e9e4e4; */
}
.left-nav {
  display: table-cell;
  float: left;
  height: 30px;
  width:40% ;
 /* margin-left: 12.5%; */
}
.left-nav a{
  text-decoration: none;
  color: black;
}
.right-nav{
  display: table-cell;
  float: right;
/*  margin-right: 7%; */
  width: 20%;
}
.right-nav li{
  float: left;
  text-align: center;
  list-style: none;
  margin: 0 21px;
}
.left-nav li{
  float: left;
  text-align: center;
  list-style: none;
  margin:0 10px;
}
.right-nav a{
  color: black;
  text-decoration: none;
}
.right-nav a:hover, .left-nav a:hover{
  color: orange;
} 
.left-nav a{
  margin-left: 10px; 
}
.left-nav img{
  width: 55px;
  height: 60px;
  margin-top: -17px;
}
.home{
  background-color: #e9e4e4;
  font-size: 11px;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 1200px;
}
.home a{
  text-decoration: none;
  color: black;
  margin-left: 17.5%;
}
.restaurant-header{
  background-color: #272324;
  height: 235px;
  min-width: 1200px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.jumbotron{
  display: table;
  margin: 0 17% 0 17% ;
  table-layout: fixed;
 /* background-color: #272324; */
  color: white;
  max-width: 1200px;
  min-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.res-img{
  display: table-cell;
  float: left;
 /* margin-left: 16%; */
  padding: 35px 0 35px 40px;
}
.res-img img{
  width: 260px;
  height: 165px; 
}
.restaurant{
  display: table-cell;
  float: left;
  padding:35px 35px 0 35px;
}
.about-res{
  padding: 8px 2px;
  margin-top: 2px;
}
.res-loc{
  padding: 2px;
}
.res-del-cost{
  display: table;
}
.res-rating{
  /* float: left; */
    display: table-cell;
    border-right: 1px solid hsla(0,0%,100%,.2);
    padding-top: 10px;
    width: 118px;
}
.res-del-time{
    display: table-cell;
    border-right: 1px solid hsla(0,0%,100%,.2);
    padding-top: 10px;
    padding-left: 28px;
    width: 125px;
}
.res-order-cost{
  /* float: left; */
  display: table-cell;
  padding-top: 10px;
  padding-left: 25px;
  width: 150px;
}
.offer{
  display: table-cell;
  border: 1px solid rgba(255, 255, 255, 0.3);
  float: right;
  vertical-align: top;
  margin-top: 6%;
  margin-right: 2%;
  width: 24%;
  height: 120px;
}
.offer-head{
  background-color: #272324;
  width: 70px;
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
  margin-left: -5px;
}
.offer-type{
  padding: 3% 5%;
}
.search{
  width: 514px;
  height: 40px;
  font-size: 20px;
  margin-top: 3%;
}
.search-bar{
  /*float: left;
  width: 254px;
  height: 40px; */
  display: inline;
}
input[type=text] {
  width: 220px;
  padding: 10px 20px;
  border: none;
  background-color: white;
  font-size: 17px;
}
.veg-dish{
  background-color: white;
 /* float: left; */
  width: 20%;
  margin-left: 280px;
  margin-top: -40px;
  height: 40px;
  text-align: center;
  color: black;
}
.fav-dish{
  float: right;
  margin-right: 2%;
  background-color: white;
  width: 20%;
  color: black;
  margin-top: -40px;
  height: 40px;
  text-align: center;
}
.veg-dish p, .fav-dish p{
  float: right;
  margin-right: 9px;
  align-items: center;
  font-size: 17px;
}

input[type="checkbox"] {
  margin: 11% 5%;
}

.veg-dish span, .fav-dish span{
  font-size: 16px;
}

.veg-dish:hover{
  color: green;
  cursor: pointer;
}
.fav-dish:hover{
  color: red;
  cursor: pointer;
}
.menu-section{
  display: table;
  /* table-layout: fixed; */
  min-width: 1200px;
  /* position: relative; */
  margin: 0 auto;
  max-width: 1200px;
}
.menu-headings{
  display: table-cell;
  width: 25%;
  /* list-style: none;
  margin-top: 3%;
  margin-left: -4%;
  text-decoration: none;
  display: inline-block; */
}
.menu-headings-list {
  position: sticky;
  top: 235px;
}
.vertical-line{
  margin-top: -10%;
  border-radius: 1px solid black;
  height: 600px;
}
.menu-headings li{
  list-style: none;
  text-align: right;
  padding-right: 10%;
  padding-top: 4%;
  width: 260px;
}
.menu-headings a{
  text-decoration: none;
  padding-right: 10px;
  color: black;
}
.menu-headings-list ul >li:first-child >a:first-child{
  color: orange;
}
.menu{
  border-left: 1px solid rgba(0,0,0,.2);
  padding: 0px 30px 0 30px;
  display: table-cell;
  margin-top: 0%;
  width: 50%;
  /* margin-right: 31%;
  /* float: right;  */
  /* overflow-y: auto; */
  /* height: 800px;  */
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu h1 ,.cart h1{
  font-size: 30px;
  color: #171A29;
}
.menu p{
  color: #686b78;
}
.item-head{
  border-bottom: 2px solid black;
  padding-top: 40px;
}
.menu:first-child {
  margin-top: 0%;
}
.item-head:last-child{
  border-bottom: none;
}
.dish{
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  border-bottom: 1.5px #eeeef5 solid;
}
.item{
  width: 70%;
}

.item-name{
  font-size: 16px;
  padding-bottom: 15px;
  padding-left: 0;
  color: #3e4152;
  font-weight: 500;
}
.item-price{
  font-size: 15px;
  font-weight: 400;
  color: #3e4152;
}
.item-desc{
  padding-top: 10px;
 /* width: 380px; */
  color: rgba(40,44,63,.45);
  font-size: 1rem;
}
/*
.item-pic{
  float:right;
  margin-top: 0%;
}
*/
.item-add{
  margin-left: 15%;
  margin-top: -27%;
  width: 100px;
  height: 40px;
  position: relative;
  background-color: #fff;
}
/*
.item-pic img{
  margin-top: 20px;
}
*/
.item-pic button{
  width: 100px;
  height: 40px;
}
footer{
  background-color: black;
  display: flex;
  width: 100%;
  min-width: 1200px;
  justify-content: space-around;
  align-items: center;
}
.img{
  padding: 20px 0;
  text-align: center;
  flex:1;  
}

.cart{
  display: table-cell;
  /* float: right;
  margin-right: -76%; */
  width: 25%;
  margin-top: 40px;
}
div#cart_div {
  position: sticky;
  top: 235px;
  /* padding-left: 10px; */
}
.cart-head{
  padding-bottom: 6% ;
  color: #7e808c;
}
.cart-desc{
  padding-top: 10%;
  width: 280px;
  color: rgba(40,44,63,.45);
}
/*
.scroll-hover{
  text-decoration: none;
  padding-right: 10px;
  color: black;
}
*/
footer img{
  width:140px;
}
footer p{
  padding: 20px 0;
  text-align: center;
  flex:1;
  color: white;
}
.socials{
  flex:1;
}
footer ul{
  padding: 20px 120px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
footer ul li{
  flex:1;
}
footer ul li img {
  width:27px;
}
.addBClass{
  display: flex;
  height: 100%;
  cursor: pointer;
  border: 1px solid #d4d5d9;
}

.addBSpan {
  width: 30%;
  align-self: center;
  display: inline-block;
  text-align: center;
/*  padding-top: 10px; */
}

.addBcnt {
  width: 40%;
  align-self: center;
  display: inline-block;
  text-align: center;
  border-left: 1px solid #ced0d3;
  border-right: 1px solid #ced0d3;
/*  padding-top: 10px; */
}

.cartAfterATC {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 235px;
}
.cartItem{
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 4% 0;
}

.sub-total {
  display: flex;
  justify-content: space-between;
  color: #3d4152;
  padding: 2% 8% 0 0%;
}

.cartItem .addBClass {
  width: 30%;
  align-items: center;
}

.cart-item-price {
  font-size: 15px;
  align-self: center;
  color: #535665;
  width: 30%;
  text-align: end;
}

.cart-heading {
  padding-bottom: 5%;
}
.cart-item-cnt{
  font-size: 12px;
}
button.cart-checkout {
  width: 92%;
  display: inline-block;
  height: 50px;
  background-color: #60b246;
  color: white;
  font-size: 15px;
}
.cart-item-name{
  width: 45%;
  align-self: center;
}
.cart-item-list{
  overflow-y: auto;
  padding: 2% 8% 0 0%;
}

.loader{
  display: flex;
  justify-content: center;
}